fastapi
uvicorn[standard]
google-api-python-client
pydantic
python-multipart
joblib
scikit-learn
Sastrawi
langdetect
googletrans==3.1.0a0
pandas
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
bcrypt
psycopg2-binary
python-dotenv
