fastapi
uvicorn[standard]
google-api-python-client
pydantic
python-multipart
joblib
scikit-learn
Sastrawi
langdetect
googletrans
pandas
scikit-learn
joblib
python-multipart
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
bcrypt
